<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Inter&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/register_page.css') }}"
    />
    <title>MyFit_Signup</title>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </head>
  <body>
    <div class="container">
      <div class="form-container">
        <img
          src="{{ url_for('static', filename='images/back_arrow_img.png') }}"
          alt="Back"
          class="back-arrow"
          onclick="goBack()"
        />
        <form method="post" class="register-form">
          {{ form.hidden_tag() }}
          <input
            class="input-field"
            name="user_id"
            type="text"
            placeholder="User ID"
            value="{{ request.form.user_id or '' }}"
          />
          <input
            class="input-field"
            name="password"
            type="password"
            placeholder="Password"
            value="{{ request.form.password or '' }}"
          />
          <input
            class="input-field"
            name="confirm_password"
            type="password"
            placeholder="Confirm Password"
            value="{{ request.form.confirm_password or '' }}"
          />
          <input
            class="input-field"
            name="nickname"
            type="text"
            placeholder="Name(Nickname)"
            value="{{ request.form.nickname or '' }}"
          />
          <input
            class="input-field"
            name="birthdate"
            type="text"
            placeholder="Birth Date (ex) 990120"
            value="{{ request.form.birthdate or '' }}"
          />
          <div class="gender-selection">
            <label class="gender-label">Gender</label>
            <label>
              <input type="radio" name="gender" value="0" {{ 'checked' if
              request.form.gender == '0' else '' }}> Male
            </label>
            <label>
              <input type="radio" name="gender" value="1" {{ 'checked' if
              request.form.gender == '1' else '' }}> Female
            </label>
          </div>
          <div class="submit-button-container">
            <button type="submit" class="submit-button">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
