/* Overlay styling */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center; /* Overlay를 화면 가운데로 정렬 */
  align-items: center; /* Overlay를 화면 가운데로 정렬 */
  z-index: 999; /* Ensure it is above other content */
}

@keyframes slide-in {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(0);
  }
}

.dynamic-box {
  width: 500px;
  height: 99%;
  left:0;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 2px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  animation: slide-in 0.3s ease-out;
}

.dynamic-box .form-group {
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.dynamic-box .form-group input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dynamic-box .upload-box {
  background: #d3d3d3;
  border: 2px dashed #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  position: relative;
  height: 150px;
}

.dynamic-box .upload-box input[type="file"] {
  display: none;
}

.dynamic-box .upload-box label {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  border: 2px solid transparent;
  transition: background 0.3s, border 0.3s;
  position: relative;
  margin-top: 15px;
}

.dynamic-box .upload-box label:hover {
  background: #0056b3;
  border-color: #0056b3;
}

.dynamic-box .upload-box p {
  margin: 0;
  position: relative;
  top: -20px;
}

.dynamic-box .upload-box img {
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
  position: relative;
  top: -20px;
}

.dynamic-box .upload-button-dynamic {
  padding: 0.5rem 1rem;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
  height: 35px;
  width: 100px;
  font-size: 12px;
  left: 180px;
  top: 100px;
  position:absolute;
}

.dynamic-box .upload-button-dynamic:hover {
  background: #0056b3;
  border-color: #0056b3;
}

.section-title {
  position: absolute;
  top: 85px; 
  left: 40px;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
  top: 20px;
  position: absolute;
}

.form-group {
  position: relative;
  top: 10%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
}

.dynamic-box .submit-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 0.5rem 1rem;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dynamic-box .submit-button:hover {
  background: #0056b3;
  border-color: #0056b3;
}

.dynamic-box .close-button:hover {
  color: rgba(0, 0, 0, 0.7);
  width: 70px;
}

.dynamic-box .close-button {
  width: 70px;
  align-self: flex-end;
}

.dynamic-box .upload-details {
  position: absolute;
  font-size: 12px;
  font-weight: lighter;
  height: 20px;
  top: 250px;
  right: 25px;
}

.dynamic-box .upload-box p {
  font-size: 12px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 0.1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-group select {
  margin-top: 0.1rem;
}

.form-group label {
  margin-bottom: 0.5rem;
}

.sub-title {
  font-size: 15px;
  display: flex;
  position: relative;
  top: 40px;
}

.dynamic-box h3 {
  margin-top: 10%;
  font-size: 25px;
  height: 11px;
}

/* CSS for image gallery */
.upload-result {
  margin-top: 20px;
}

.image-gallery {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 10px;
  padding: 10px;
  margin-top: 6%; /* h3로부터 10px 떨어짐 */
  margin-bottom: 1%;
}

.image-gallery img {
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

.upload-result h3 {
  text-align: center;
}

.upload-result p {
  text-align: center;
}

.details-button {
  padding: 0.5rem 1rem;
  background: #919191;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
  height: 35px;
  width: 85px;
  font-size: 12px;
  position: absolute;
  right: 18px;
  top:280px;
}

.details-button:hover {
  background: #797979;
  border-color: #797979;
}

.select-image-button {
  position: absolute;
  bottom: 20px;
  width: 25%;
  right: 20px;
  height: inherit;
  height: 40px;
  padding: 0.5rem 1rem;
  background: hsl(0, 0%, 56%);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 13px;
}



/* 기본 이미지 스타일 */
.gallery-image {
  position: relative;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s;
}

.gallery-image.selected {
  border-color: hsl(211, 100%, 50%);
}

.gallery-image.with-check::after {
  content: '\2714'; /* Checkmark character */
  position: absolute;
  top: 10px;
  left: 100px;
  color: green;
  font-size: 24px;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}

/* 활성화된 버튼 스타일 */
.select-image-button.enabled {
  background-color:#007bff;
  color: white;
  cursor: pointer;
}
.select-image-button.enabled:hover {
  background: #0056b3;
  border-color: #0056b3;
  cursor: pointer;
}
