* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(224, 224, 224, 1);
}

.back-arrow {
  position: absolute;
  top: 40px;
  left: 30px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.v1_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.v27_3 {
  width: 100%;
  max-width: 500px;
  background-size: cover;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.v8_10 {
  color: rgba(0, 0, 0, 1);
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 5vw; /* 줄어든 글자 크기 */
  text-align: center;
  margin-bottom: 50px;
  margin-top: -80px;
  white-space: nowrap;
}

.v21_45 {
  width: 100%;
  background: rgba(241, 241, 241, 0.7);
  padding: 100px 70px 50px 70px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.v9_11,
.v9_12 {
  width: 100%;
  max-width: 300px;
  height: 60px;
  background: rgba(217, 217, 217, 1);
  margin-bottom: 30px;
  padding: 0 20px;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  outline: none;
}

.v19_40 {
  width: 100%;
  max-width: 300px;
  height: 60px;
  background: rgba(9, 4, 0, 0.6);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.v12_23 {
  color: rgba(255, 255, 255, 1);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  background: rgba(9, 4, 0, 0.6); /* Added line */
  border: none; /* Added line */
  width: 100%; /* Added line */
  height: 100%; /* Added line */
  display: flex; /* Added line */
  justify-content: center; /* Added line */
  align-items: center; /* Added line */
  border-radius: 10px; /* Added line */
}

.v13_34 {
  width: 100%;
  max-width: 260px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 600px) {
  .v8_10 {
    font-size: 12vw; /* 점진적으로 줄어드는 글자 크기 */
  }

  .v21_45 {
    padding: 10px;
  }

  .v9_11,
  .v9_12,
  .v19_40,
  .v10_14,
  .v13_34 {
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .v8_10 {
    font-size: 14vw; /* 더 작은 화면에서 글자 크기 조정 */
  }
}
