* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
}
.screen {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  flex-direction: column;
  min-width: 657px;
}

.header {
  width: 100%;
  height: 4.5rem;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.main {
  width: 100%;
  height: 80%;
  background: rgba(242, 241, 241, 1);
  opacity: 1;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 600px;
}

.footer {
  width: 100%;
  height: 7rem;
  background: rgba(131, 131, 131, 1);
  opacity: 1;
  display: flex;
  position: relative;
  bottom: 0;
}

.footer_logo {
  width: 55px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  font-family: Inter;
  font-weight: bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
  left: 18%;
  top: 35%;
  float: left;
  white-space: nowrap;
}

.footer_container {
  width: 70%;
  position: absolute;
  align-items: center;
  float: left;
  top: 30%;
  left: 30%;
}

.footer_content {
  color: rgb(255, 255, 255);
  width: 10%;
  height: 20%;
  flex: 1;
  text-align: left;
  font-family: Inter;
  font-weight: lighter;
  font-size: 10px;
  position: relative;
  padding: 4%;
  white-space: nowrap;
}

.Logo {
  width: 155px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 7%;
  right: 60px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: Bold;
  font-size: 40px;
  text-align: right;
  float: right;
  white-space: nowrap;
}

.mybody_img {
  width: 36px;
  height: 36px;
  background: url("../images/mybody_img.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8%;
  left: 45px;
  overflow: hidden;
}
.mycloset_img {
  width: 75px;
  height: 75px;
  background: url("../images/mycloset_img.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: -20%;
  overflow: hidden;
  left: 25px;
}

.mycloset_str {
  width: 5%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 70%;
  left: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: Regular;
  font-size: 70%;
  opacity: 1;
  text-align: left;
  white-space: nowrap;
}

.mybody_str {
  width: 5%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: 65%;
  left: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: Regular;
  font-size: 70%;
  opacity: 1;
  text-align: center;
  white-space: nowrap;
}

.mybody {
  width: 120px;
  height: 100%;
  position: absolute;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.mycloset {
  width: 120px;
  height: 100%;
  position: absolute;
  align-items: center;
  left: 120px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* 호버 상태 스타일 */
.mybody:hover {
  background-color: rgba(0, 0, 0, 0.1); /* 반투명 배경 색상 */
}

.mybody:hover .mybody_img {
  filter: invert(1); /* 이미지 색상 반전 */
}

.mybody:hover .mybody_str {
  color: white; /* 호버 시 글자 색상 반전 */
  font-weight: bolder;
  left: 35px;
}

.mycloset:hover {
  background-color: rgba(0, 0, 0, 0.1); /* 반투명 배경 색상 */
}

.mycloset:hover .mycloset_img {
  filter: invert(1); /* 이미지 색상 반전 */
}

.mycloset:hover .mycloset_str {
  color: white; /* 호버 시 글자 색상 반전 */
  font-weight: bold;
  left: 33px;
}

.h2 {
  font-size: 10px;
}

.dynamic-box-main {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: antiquewhite;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
}

.dynamic-box-main-title {
  position: absolute;
  left: 22%;
}

.upload-label {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  width: 95%;
  height: 60%;
  border-style: dotted;
  padding: 10px; /* 상자 안쪽에 10px 여백 추가 */
  box-sizing: border-box; /* 패딩을 포함하여 요소의 크기를 계산 */
  left: 2.5%;
  top: 3%;
}

.dynamic-box-main .upload-label img {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 150px;
  top: 20%;
}

.dynamic-box-main .upload-label p {
  top: 130px;
  left: 80px;
  position: absolute;
}

#preview {
  position: absolute;
  width: 60%;
  height: 60%;
  left: 20%;
  top: 20%;
}

#cancel-button {
  position: absolute;
  top: 15px;
  left: 13px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

#modeling-button {
  position: absolute;
  background-color: #05ca33;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  bottom: 10px;
  right: 5px;
}
#modeling-button:hover {
  background-color: #01791d;
  border-color: #01791d;
}

.dynamic-box-main input[type="file"] {
  display: none; /* 실제 파일 입력 요소를 숨깁니다 */
}

.dynamic-box-main.dragover {
  border-color: #000;
}

.upload-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  position: absolute;
  left: 130px;
  bottom: 13px;
}
.upload-button:hover {
  background: #0056b3;
  border-color: #0056b3;
}

.upload-label p {
  font-size: 14px; /* 글꼴 크기 */
  position: absolute;
  top: 60px;
  left: 50px;
}
